:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'Mono';
  src: url('fonts/mono.ttf');
}

body {
  font-family: 'Mono';
  margin: 0;
  background-color: black;
  overflow: hidden;
}

#root {
  background-color: black;
  width: 100vw;
  height: 100vh;
  color: white;
}

input {
  background-color: black;
  font-family: 'Mono';
  outline: none;
  border: none;
  border: 1px solid white;
  padding: 4px;
  color: white;
}

button {
  color: white;
  cursor: pointer;
  border: 1px solid white;
  padding: 4px;
  background-color: black;
  font-family: 'Mono';
  outline: none;
}
